<!--
Brandon Skar
IT 328
1/10/2019
interests.html
Select interests form
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>{{ @title }}</title>
</head>
<body>
<include href="include/navbar.html" />
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row col-12">
        <h1>Interests</h1>
    </div>
    <hr class="alert-secondary">
    <form action="#" method="POST">
        <div class="row col-12">
            <p class="font-weight-bold">In-door Interests</p>
        </div>
        <div class="row">
            <repeat group="{{ @SESSION.indoor }}" value="@interest">
                <div class="col-3">
                    <input type="checkbox" value="{{ @interest }}" name="indoor[]">&nbsp;{{ @interest }}
                </div>
            </repeat>
        </div>
        <br>
        <div class="row col-12">
            <p class="font-weight-bold">Out-door Interests</p>
        </div>
        <div class="row">
            <repeat group="{{ @SESSION.outdoor }}" value="@interest">
                <div class="col-3">
                    <input type="checkbox" value="{{ @interest }}" name="outdoor[]">&nbsp;{{ @interest }}
                </div>
            </repeat>
        </div>
        <div class="row">
            <div class="col-10"></div> <!-- empty space -->
            <div class="col-2">
                <input type="submit" name="submit" class="btn btn-primary rounded" value="Next >">
            </div>
        </div>
    </form>
</div> <!-- div class container -->

<script src="//code.jquery.com/jquery.js"></script>
<script src="scripts/jquery.slim.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>