<include href="include/head.html"></include>
<body>
<include href="include/navbar.html"></include>
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row col-12">
        <h1>Interests</h1>
    </div>
    <hr class="alert-secondary">
    <form action="summary" method="POST">
        <div class="row col-12">
            <p class="font-weight-bold">In-door Interests</p>
        </div>
        <div class="row">
            <repeat group="{{ @SESSION.indoor }}" value="@interest">
                <div class="col-3">
                    <input type="checkbox" value="{{ @interest }}" name="indoor[]">&nbsp;{{ @interest }}
                </div>
            </repeat>
        </div>
        <br>
        <div class="row col-12">
            <p class="font-weight-bold">Out-door Interests</p>
        </div>
        <div class="row">
            <repeat group="{{ @SESSION.outdoor }}" value="@interest">
                <div class="col-3">
                    <input type="checkbox" value="{{ @interest }}" name="outdoor[]">&nbsp;{{ @interest }}
                </div>
            </repeat>
        </div>
        <div class="row">
            <div class="col-10"></div> <!-- empty space -->
            <div class="col-2">
                <input type="submit" name="submit" class="btn btn-primary rounded" value="Next >">
            </div>
        </div>
    </form>
</div> <!-- div class container -->

<include href="include/scripts.html"></include>
</body>
</html>