<!--
Brandon Skar
IT 328
01/10/2019
personal-info.html
Set up personal information
-->
<include href="include/head.html"></include>
<body>
<include href="include/navbar.html"></include>
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row col-12">
        <h1>Personal Information</h1>
    </div>
    <hr class="alert-secondary">
    <form action="#" method="POST">
    <div class="row">
        <div class="col-7">
            <label class="font-weight-bold w-100">First Name</label> <!-- First Name -->
                <input type="text" name="fname" class="w-100" value="{{ @_POST.fname }}">
            <check if="!@validFname &&
                            !empty(@_POST)"><p class="alert-danger font-weight-bold">Enter a valid first name</p></check>
            <label class="font-weight-bold w-100">Last Name</label> <!-- Last Name -->
                <input type="text" name="lname" class="w-100" value="{{ @_POST.lname }}">
            <check if="!@validLname &&
                            !empty(@_POST)"><p class=" alert-danger font-weight-bold">Enter a valid last name</p></check>
            <label class="font-weight-bold w-100">Age</label> <!-- Age -->
                <input type="text" name="age" class="w-100" value="{{ @_POST.age }}">
            <check if="!@validAge &&
                            !empty(@_POST)"><p class="alert-danger font-weight-bold">Enter a valid age. Must be over 18</p></check>
            <label><span class="font-weight-bold">Gender</span>
                <br>
                <input type="radio" value="Male" name="gender" <check if="@POST.gender == 'Male'">checked='checked'</check>>&nbsp;
                <span class="font-weight-bold">Male</span>
                &nbsp;&nbsp;
            </label>
            <label>
                <input type="radio" value="Female" name="gender" <check if="@POST.gender == 'Female'">checked='checked'</check>>&nbsp;
                <span class="font-weight-bold">Female</span>
            </label> <!-- Gender -->
            <label class="font-weight-bold w-100">Phone</label>
                <input type="text" name="phone" class="w-100" value="{{ @_POST.phone }}"
                       placeholder="(XXX)XXX-XXXX">
            <check if="!@validPhone &&
                            !empty(@_POST)"><p class="alert-danger font-weight-bold">Enter a valid phone number</p></check>
        </div> <!-- col-7 -->
        <div class="col-5">
            <p class="border border-dark tos rounded text-center"><span class="font-weight-bold">Note:</span> All information
                entered is protected by our <a href="">privacy policy</a>.
                Profile information can only be viewed by others with your
                permission.</p>
        </div>
    </div> <!-- row col-12 -->
        <div class="row">
            <div class="col-10"></div> <!-- empty space -->
            <div class="col-2 align-center">
                <input type="submit" value="Next >"
                       class="btn btn-primary">
            </div>
        </div>
    </form>
</div> <!-- div class container -->

<include href="include/scripts.html"></include>
</body>
</html>