<!--
Brandon Skar
IT 328
01/28/2019
profile.html
Set up a profile
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>{{ @title }}</title>
</head>
<body>
<include href="include/navbar.html" />
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row col-12">
        <h1>Profile</h1>
    </div>
    <hr class="alert-secondary">
    <form action="#" method="POST">
    <div class="row">
        <div class="col-6">
            <label class="font-weight-bold">Email</label>
            <br>
            <input type="text" name="email" class="w-100" value="{{ @POST.email }}">
            <check if="!validEmail(@POST.email) &&
                            !empty(@POST)"><label class="alert-danger font-weight-bold w-100">Enter a valid email address</label></check>
            <br><br>

            <label class="font-weight-bold">State</label>
            <br>
            <select class="w-100" name="state">
                <option>--Select a State--</option>
                <repeat group="{{ @SESSION.states }}" value="@state">
                    <option value="{{ @state }}"
                    <check if="@POST.state == @state">selected='selected'</check>>{{ @state }}</option>
                </repeat>
            </select>
            <br><br>

            <label class="font-weight-bold">Seeking</label>
            <br>
            <input type="radio" value='Male' name="seeking" <check if="@POST.seeking == 'Male'">checked='checked'</check>>&nbsp;Male
            &nbsp;&nbsp;
            <input type="radio" value='Female' name="seeking" <check if="@POST.seeking == 'Female'">checked='checked'</check>>&nbsp;Female
        </div>
        <div class="col-6">
            <label class="font-weight-bold">Biography</label>
            <textarea name="bio" class="rounded w-100 h-50">{{ @POST.bio }}</textarea>
        </div>
    </div>
        <div class="row">
            <div class="col-10"></div> <!-- empty space -->
            <div class="col-2">
                <input type="submit" class="btn btn-primary rounded" value="Next >">
            </div>
        </div>
    </form>
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="scripts/jquery.slim.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
</body>
</html>