<!--
Brandon Skar
IT 328
01/28/2019
profile.html
Set up a profile
-->

<include href="include/head.html"></include>
<body>
<include href="include/navbar.html"></include>
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row col-12">
        <h1>Profile</h1>
    </div>
    <hr class="alert-secondary">
    <form action="#" method="POST">
    <div class="row">
        <div class="col-6">
            <label class="font-weight-bold">Email</label>
            <br>
            <input type="text" name="email" class="w-100" value="{{ @POST.email }}">
            <check if="!@validEmail &&
                            !empty(@_POST)"><label class="alert-danger font-weight-bold w-100">Enter a valid email address</label></check>
            <br><br>

            <label class="font-weight-bold">State</label>
            <br>
            <select class="w-100" name="state">
                <option>--Select a State--</option>
                <repeat group="{{ @SESSION.states }}" value="@state">
                    <option value="{{ @state }}">{{ @state }}</option>
                </repeat>
            </select>
            <br><br>

            <label class="font-weight-bold">Seeking</label>
            <br>
            <input type="radio" value='Male'name="seeking" {{ @male }}>&nbsp;Male
            &nbsp;&nbsp;
            <input type="radio" value='Female' name="seeking" {{ @female }} >&nbsp;Female
        </div>
        <div class="col-6">
            <label class="font-weight-bold">Biography</label>
            <textarea name="bio" class="rounded w-100 h-50"></textarea>
        </div>
    </div>
        <div class="row">
            <div class="col-10"></div> <!-- empty space -->
            <div class="col-2">
                <input type="submit" class="btn btn-primary rounded" value="Next >">
            </div>
        </div>
    </form>
</div>

<include href="include/scripts.html"></include>
</body>
</html>