<include href="include/head.html"></include>
<body>
<include href="include/navbar.html"></include>
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row">
        <div class="col-6">
            <table class="w-100">
                <tr class="border border-secondary">
                    <td class="p-2">Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">Gender: {{ @SESSION.gender }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">Age: {{ @SESSION.age }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">Phone: {{ @SESSION.phone }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">Email: {{ @SESSION.email }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">State: {{ @SESSION.state }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">Seeking: {{ @SESSION.seeking }}</td>
                </tr>
                <tr class="border border-secondary">
                    <td class="p-2">Interests: {{ @SESSION.interests }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<include href="include/scripts.html"></include>
</body>
</html>